{% extends 'base.html' %}

{% block title %}All Profiles{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block content %}
<br>
<div class="show-all" style="margin-top: 20px;">
    <h1 class = 'title1' style="display:inline;">All Profiles</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/addprofile" >New Profile</a>
</div>
    <hr>
    <hr>
    
    <div id='profile_section'>

    </div>

    <script src="{{url_for('static', filename='app.js')}}"></script>

{% endblock %}