{% extends 'base.html' %}

{% block title %}All Profiles{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block content %}
<br>
<div class="show-all" style="margin-top: 20px;">
    <h1 style="display:inline; color: darkslateblue;">All Profiles</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/addprofile" >New Profile</a>
</div>
    <hr>
    <hr>
    {% for profile in profiles %}
        <h4 style="color: #c5773b;">{{ profile.name }} {{profile.surname}}</h4> 
        <h5>{{ profile.content }}</h5>
        <h6>{{ profile.date_of_birth }}</h6>
        
        <a class="btn btn-primary" style="margin-top: 10px"; href='/profile/delete/{{profile.id}}'>Delete</a>
        <br>
        <hr>
    {% endfor %}

{% endblock %}